:root {
  --charcoal: #282c34;
  --ocean-blue: #61dafb;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--ocean-blue);
}

.code-block {
  padding: 20px;
}

.banner {
  text-align: center;
  padding: 2rem 1rem;
  color: var(--white);
  margin-bottom: 20px;
}

.title {
  font-size: 45px;
  margin-bottom: 15px;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}
img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.text-center {
  width: 20vw;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}
